<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
        <add key="Tailspin.SpaceGame.Web.Artifacts" value="https://pkgs.dev.azure.com/gcyoakum/SpaceGame-web-dependancies/_packaging/Tailspin.SpaceGame.Web.Artifacts/nuget/v3/index.json" />
  </packageSources>
</configuration>